div{
  border-style: solid;
  border-width: 1px;
}
.container{
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  height: 570px;
}
#home-title{
  height: 35px;
}
#home-items{
  height: 93.5%;
}
.home-item{
  height: 35px;
}
.feed{
  display: grid;
  grid-template-rows: 100px 1fr;
}
.people{
  display: grid;
  grid-template-rows: 150px 1fr;
}


/* body{
  background-image: url(../facebook.jpg);
  background-size: cover ;
  background-repeat: no-repeat;
  min-height: 100vh;
} */
